ul
{
    list-style-type: none;
    margin:0;
    padding:0px;
    overflow: hidden;
    background-color: #333333;
}
li
{
    float: right;
}
li a
{
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}
li a:hover
{
    background-color:#1c1c1c6b;
}



